<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Stock Checker</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/home">Home</a><li>
                    <li role="presentation"><a href="/add">Add Item</a></li>
                    <li role="presentation" class="active"><a href="/logout">Logout</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">Stock Checker</h3>
        </div>
        <h5>Any items being tracked are shown here: </h5>
        <div class="jumbotron">
        <table class = "table table-striped">
            {% if success == 1 %}
                <p class = "result_success">{{result}}</p>
            {% else %}
                <p class = "result_fail">{{result}}</p>
            {% endif %}
            {% if items %}
            <tr>
                <td><b>Item</b></td><td><b>URL</b></td><td><b>Price</b></td><td><b>Shipping</b></td><td><b>Stock</b></td><td><b>Status</b></td><td>     </td>
            </tr>
            {% endif %}
            {% for x in items %}
                <tr>
                    <td>{{ x.name }}</td>
                    <td><a href="{{ x.url }}">Link</a></td>
                    <td>{{ x.price }}</td>
                    <td>{{ x.shipping }}</td>
                    <td>{{ x.stock }} </td>
                    <td>
                        {% if x.status == "NEW" %}
                            <img src="../static/images/processing.gif" alt="Processing..." style="width:20px;height:20px;">
                        {% else %}

                        {% endif %}
                    </td>
                    <td><a href="/delete/{{x.name}}"><img src="" alt="Delete" style="width:20px;height:20px;"></img></a></td>
                </tr>
            {% else %}
                <p> No items added. </p>
            {% endfor %}
        </table>
        </div>
    
 
        <footer class="footer">
           
        </footer>
 
    </div>
</body>
 
</html>